*{
    margin: 0;
    padding: 0; 
    /* this is to remove 'any-default' margin and padding that the browser applies from all the sides. */
}

body{
    /* What I am doing next shall ensure that the "content occupies the entire screen" */
    min-height: 100vh;
    background: url(google-crowdsource-bg-img.png);
    background-size: stretch; /* This property covers the entire screen without any disproportions */
    /* for background-size the property was cover but i changed it to stretch to test the backdrop-filter property. */
    background-repeat: no-repeat; 
    background-position: center; /* This will center the background. */
    /* This way we insure that the image covers the entire container(cover), there is no repeat(repeat), and the image is at the center(position). */
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* working on the navbar: */
nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
/* working on the nav-ul */
nav ul{
    width: 100%; /*To make it span the whole width of the container. */
    list-style: none;
    display: flex; 
    justify-content: flex-end;
    align-items: center;
}

nav li{
    /* each list item represents a navigation link. */
    height: 50px;
}

nav a{
    height: 100%;  /* This is done to match the height of the list items 'nav li' */
    padding: 0 30px; 
    text-decoration: none; /* This will remove the underline from the texts */  
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
    /* when we hover over the text */
    background-color: #f0f0f0; 
}

nav li:first-child{
    margin-right: auto; 
}

/* now we shall work on the sidebar that will feature the ham-burger style. */ 
.sidebar{
    position: fixed;
    top: 0; 
    right: 0; 
    height: 100vh; 
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;  /* width of 250px */
}

.menu-button{
    display: none;
}
/* To make the entire website responsive, I have to figure out the mediaquery. */ 
@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .media-button{
        display: block;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}