/* The best part about creating a utility class is that we can reuse it. */
/* This is for the h1 element, bringing it to the center. */
.text-center{  
    text-align: center;
} 

/* Refer to the first comment. */
.bg-red{
    background: red;
}
.mx-auto{
    margin: auto;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items:center; 
    justify-content: center;
}