@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;

}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

/* Updating the navbar items, image, home, about. */
nav ul{
    display: flex;
    /* ye karne se saare ul wale elements horizontal ho jaayeneg! */
    list-style-type: none; /* Removing the dots.*/
    height: 65px; 
    background-color: black;
    color: white;
    align-items: center;
}

.brand img{  /*brand class ke andar ki image ko target kar rhe hai.*/
    width: 44px; 
    padding: 0px 6px;
    /* the padding will only apply to the left and right and not to top and bottom */
}

nav ul li{
    padding: 0 12px; 
    cursor: pointer;
} 

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh; 
    /* vh(viewport height) means the percentage of height */
    background-color: black; 
    color: white; 
    font-family: 'Varela Round', sans-serif;  
    display: flex;
    margin: 23px auto; 
    /* here margin is in the format (top, bottom); (left, right) */  
    width: 70%; 
    border-radius: 12px;
    padding: 34px; 
    background-image: url('bg.jpg');
}


/* We will use this to edit the bottom progress bar with the play/pause button */
.bottom{
    background-color: black; 
    color: white; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    position: sticky; 
    height: 110px;
    bottom: 0;
     /*If we donot add the 'bottom' css property, ye position: sticky property kaam nahi karega. */
}

.icons{
    margin-top: 20px; 
    /* padding: 5px; */
}

/* icons ke andar ke i elements ko ham cursor:pointer wali property dnge */
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    /* vw(viewport width) means the percentage of width */
     

}


/* .fa-3x{
    font-size: 2em; 
} */

/* Abhi tee kaam hai, pehla image chota karna hai, text size bada karna hai, and teesra play icons ka size theek karna hai. */
/* song item ke image ko theek karne ke lie ham direct target image ko karenge (songItem img{})*/

.songItemContainer{
    margin-top: 74px; 

}

.songItem{ 
    margin: 5px;
    height: 50px; 
    display: flex;
    background-color: rgb(104, 88, 88);
    color: black;

    /* Adjusting the alignment, space between the image, text and the button */
    justify-content: space-between;
    align-items:center; 
    border-radius: 34px; 
    /* padding: 10px; */
}

/* SongItem ke image ko theek karne ke lie:  */
.songItem img{
    width: 43px; 
    margin: 0px 23px;
    /* we will make the image circular */
    border-radius: 34px;
}

.timeStamp{
    margin: 0 23px; /* top and bottom: 0*/
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw; 
}

.songInfo img{
    opacity: 0;
    transition: opacity 1s ease-in;
}