@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;

}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

/* Updating the navbar items, image, home, about. */
nav ul{
    display: flex;
    /* ye karne se saare ul wale elements horizontal ho jaayeneg! */
    list-style-type: none; /* Removing the dots.*/
    height: 65px; 
    background-color: black;
    color: white;
    align-items: center;
}

.brand img{  /*brand class ke andar ki image ko target kar rhe hai.*/
    width: 44px; 
    padding: 0px 6px;
    /* the padding will only apply to the left and right and not to top and bottom */
}

nav ul li{
    padding: 0 12px; 
} 

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 79vh; 
    /* vh(viewport height) means the percentage of height */
}


/* We will use this to edit the bottom progress bar with the play/pause button */
.bottom{
    position: sticky; 
    height: 100px; 
    background-color: black; 
    color: white; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column; 
}


#myProgressBar{
    width: 80vw; 
    /* vw(viewport width) means the percentage of width */
     

}