@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;

}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

/* Updating the navbar items, image, home, about. */
nav ul{
    display: flex;
    /* ye karne se saare ul wale elements horizontal ho jaayeneg! */
    list-style-type: none; /* Removing the dots.*/
    height: 65px; 
    background-color: black;
    color: white;
    align-items: center;
}

.brand img{  /*brand class ke andar ki image ko target kar rhe hai.*/
    width: 44px; 
    padding: 0px 6px;
    /* the padding will only apply to the left and right and not to top and bottom */
}

nav ul li{
    padding: 0 12px; 
    cursor: pointer;
} 

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh; 
    /* vh(viewport height) means the percentage of height */
    background-color: black; 
    color: white; 
    font-family: 'Varela Round', sans-serif;  
    display: flex;
    margin: 23px auto; 
    /* here margin is in the format (top, bottom); (left, right) */  
    width: 70%; 
    border-radius: 12px;
    padding: 34px; 
    background-image: url('bg.jpg');
}


/* We will use this to edit the bottom progress bar with the play/pause button */
.bottom{
    background-color: black; 
    color: white; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    position: sticky; 
    height: 110px;
    bottom: 0;
     /*If we donot add the 'bottom' css property, ye position: sticky property kaam nahi karega. */
}

.icons{
    margin-top: 20px; 
    /* padding: 5px; */
}

/* icons ke andar ke i elements ko ham cursor:pointer wali property dnge */
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    /* vw(viewport width) means the percentage of width */
     

}


/* .fa-3x{
    font-size: 2em; 
} */